.user-card {
  .avatar-wrapper {
    padding-top: 1rem;
    text-align: center;

    .user-avatar {
      width: 128px;
      height: 128px;
    }
  }

  .usercard-btns-wrapper {
    .btn:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 200px) {
  .user-card {
    .avatar-wrapper {
      .user-avatar {
        width: 75%;
        height: auto;
      }
    }
  }
}
